@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div>
        <h1>Kategori Ekleme Sayfası</h1>
        <br />
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
        {
            <label>Kategori Adı</label>
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
            <br />
            <label>Açıklama</label>
            @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryDescription, "", new { @class = "text-danger" })
            <br />

            <button class="btn btn-primary">Kaydet</button>
        }
    </div>
</body>
</html>
